#navHead {
    height: 50px;
    background-color: darkgoldenrod !important;
    border-radius: .5rem;
}
#navbarSupportedContent1 {
    margin-left: 200px;
}
#btn1 {
    padding-right: 30px;
    margin-right: 50px;
    background-color: purple;
}
#btn2 {
    padding-right: 30px;
    margin-right: 50px;
    background-color: transparent;
}