/* Color Palette */
:root {
  --green: #297f00;
  --yellow: #f2a30f;
  --orange: #f2780c;
  --red: #d93d1a;
  --gray: #f2f2f2;
  --dark-gray: #ebedf0;
  --blue: #445cc8;
  --hover-brightness: 1.1;
  --hover-darkness: 0.98;
  --theme-color: var(--orange);
}

/* General */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

h4,
h5,
h6,
p,
label,
small {
  font-family: "Roboto", sans-serif;
}

/* Custom buttons */
.theme-color-button {
  border-color: var(--theme-color);
  background-color: var(--theme-color);
  color: #ffffff;
}

.theme-color-button:hover {
  border-color: var(--theme-color);
  background-color: var(--theme-color);
  color: #ffffff;
  filter: brightness(var(--hover-brightness));
}

.outline-theme-color-button {
  border-color: var(--theme-color);
  color: var(--theme-color);
  font-weight: 500;
}

.outline-theme-color-button:hover {
  border-color: var(--theme-color);
  background-color: var(--theme-color);
  color: #ffffff;
}

.green-button {
  border-color: var(--green);
  background-color: var(--green);
  color: #ffffff;
}

.green-button:hover {
  border-color: var(--green);
  background-color: var(--green);
  color: #ffffff;
  filter: brightness(var(--hover-brightness));
}

.yellow-button {
  border-color: var(--yellow);
  background-color: var(--yellow);
  color: #ffffff;
}

.yellow-button:hover {
  border-color: var(--yellow);
  background-color: var(--yellow);
  color: #ffffff;
  filter: brightness(var(--hover-brightness));
}

.red-button {
  border-color: var(--red);
  background-color: var(--red);
  color: #ffffff;
}

.red-button:hover {
  border-color: var(--red);
  background-color: var(--red);
  color: #ffffff;
  filter: brightness(var(--hover-brightness));
}

.blue-button {
  border-color: var(--blue);
  background-color: var(--blue);
  color: #ffffff;
}

.blue-button:hover {
  border-color: var(--blue);
  background-color: var(--blue);
  color: #ffffff;
  filter: brightness(var(--hover-brightness));
}

.outline-green-button {
  border-color: var(--green);
  color: var(--green);
  font-weight: 500;
}

.outline-green-button:hover {
  border-color: var(--green);
  background-color: var(--green);
  color: #ffffff;
}

.xs-button {
  padding: 0.15rem 0.4rem !important;
}

.rounded-button {
  border-radius: 25px !important;
}

/* Custom scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffffff59;
}

.scrollbar-custom-lg::-webkit-scrollbar {
  width: 13px;
  background-color: #0000003d;
}

.scrollbar-custom-lg::-webkit-scrollbar-thumb {
  background-color: #ffffff59;
}

/* Animation */
.rotate {
  animation: rotation 0.3s infinite linear;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeintop {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeinright {
  0% {
    opacity: 0;
    transform: translateX(350px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
