.form-view {
	position: absolute;    
	width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #e0ad50;
}

.form-content-left,
.form-content-right {
    display: flex;
    flex-flow: column nowrap;    
}

.form-content-left {
    justify-content: space-evenly;
    height: 240px;
    background-image: url("www.pexels.com/es-es/foto/menu-restaurante-rojo-comida-4033634//38036/1633069437-p4-2x.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 85%;
    animation: fadeinright 0.8s;
}

.form-content-right {
    justify-content: space-between;
    height: 400px;
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    z-index: 10;
}

.form-content-right > .form-title {
    animation: fadein 0.8s;
}

.form-content-right > .form-title img {
    border-radius: 50%;
}

.form-content-right input {
    border: 0;
    background-color: var(--dark-gray);
    caret-color: #198754;
    animation: fadeintop .6s;
}

.form-content-right input:focus {
    background-color: var(--dark-gray);
}
