#new-order-summary-container hr {
  margin: 1rem 0;
  background-color: #ddd;
}

.new-order-summary {
  padding: 1rem 0;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.new-order-summary-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

#new-order-summary-container .new-order-summary-title h4 {
  margin-bottom: 0.5rem;
  font-size: 20px;
}

#new-order-summary-container .order-summary-body {
  max-height: 48vh;
  padding-right: .7rem;
  overflow: auto;
}

.new-order-summary-item {
  margin-bottom: 1.5rem;
}

.new-order-summary-item small {
  font-family: "Poppins", sans-serif;
  color: #000000;
}

.new-order-summary-item,
#new-order-summary-total {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.new-order-summary-item > div:nth-child(1) {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.new-order-summary-item > div:nth-child(2) {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  gap: 0.5rem;
}

.new-order-summary-item > div:nth-child(1) > small {
  font-weight: 500;
}

#new-order-summary-total p {
  font-size: 18px;
  font-weight: bold;
}

/* -- Media Queries -- */
@media (min-width: 1200px) {
  .new-order-summary {
    padding: 1rem;
  }

  #new-order-summary-container .order-summary-body {
    max-height: auto;
    padding: 0;
    overflow: hidden;
  }
}