#new-order-summary-container hr {
  margin: 1rem 0;
  background-color: #ddd;  
}

.new-order-summary {
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.new-order-summary-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

#new-order-summary-container .new-order-summary-title h4 {
  margin-bottom: .5rem;
  font-size: 20px;
}

.new-order-summary-item,
#new-order-summary-total {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}

.new-order-summary-item > div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: .5rem;
}

.new-order-summary-item > div p:nth-child(1) {
  width: 40px;
  font-weight: bold;
}

.new-order-summary-item > p {
  white-space: nowrap;
}

#new-order-summary-total p {
  font-size: 18px;
}
