.menu-item-card {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 0.3rem;
  padding: 0.3rem;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  gap: 1rem;
}

.menu-item-card p {
  margin-bottom: 0;
}

.menu-item-card > div:nth-child(1) {
  width: 25%;
  height: 102px;
}

.menu-item-card > div:nth-child(1) > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.3rem;
}

.menu-item-card > div:nth-child(2) {
  width: 75%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.menu-item-card > div:nth-child(2) > div:nth-child(1) {
  flex-grow: 1;
}

.menu-item-card > div:nth-child(2) > div:nth-child(1) p:nth-child(2) {
  font-size: 14px !important;
}

.menu-item-card > div:nth-child(2) > div:nth-child(2) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.menu-item-card > div:nth-child(2) > div:nth-child(2) p {
  font-weight: 600;
}

/* -- Media Queries -- */
@media (min-width: 576px) {
  .menu-item-card {
    flex-flow: column nowrap;
    padding: .5rem;
  }

  .menu-item-card > div:nth-child(1) {
    width: 100%;
  }

  .menu-item-card > div:nth-child(2) {
    flex-grow: 1;
    gap: 1rem;
    width: 100%;
  }    
}
