#clients-interface > div {
  height: 30vh;
  background: url(https://res.cloudinary.com/dxbcvuacb/image/upload/v1647804278/ClientsInteface-BG1_s8d1wc.png);    
  background-size: 170%;
  background-repeat: no-repeat;
  background-attachment: fixed;  
}

.clients-interface-company-banner {
  width: 100%;
  padding: 1.5rem 0;
  color: #ffffff;
  text-align: center;
}

.clients-interface-company-banner img {
  max-width: 75px;
  margin-bottom: .5rem;
}

.clients-interface-company-banner h4 {
  font-family: "Merriweather", serif;
}

.clients-interface-company-banner p {
  font-family: "Raleway", sans-serif;
}

.clients-interface-company-banner hr {
  width: 35px;
  height: 2.5px;
  background-color: var(--theme-color);
  margin: auto;
  opacity: 1;
}

.clients-interface-company-banner p {
  margin: 1rem 0 0 0;
}
