#active-order-data-container hr {
  margin: 1rem 0;
  background-color: #ddd;
}

.active-order-data-wrapper {
  max-height: 48vh;
  border-radius: .3rem;
  padding: 0.5rem;
  padding-right: 0.7rem;
  overflow: auto;
}

.active-order-data-item {
  margin-bottom: 0.8rem;
}

.active-order-data-item * {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.active-order-data-item small {
  width: 25px;
  font-weight: 600;
  color: #000000;
}

.active-order-data-item p {
  margin: 0;
}

.active-order-data-item,
#active-order-data-total {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.active-order-data-item > div:nth-child(1) {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: .5rem;
}

#active-order-data-total p {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: bold;
}

/* -- Media Queries -- */
@media (min-width: 1200px) {
  .active-order-data-wrapper {
    max-height: 50vh;
  }
}
