#landing-page-wrapper hr {
  background-color: #969696bb;
}

#landing-page-wrapper .card img {
  height: 210px;
}

#landing-page-wrapper .card-body > h6 {
    margin-top: 1rem;
    font-size: 20px;
    letter-spacing: .5px;
}

#landing-page-wrapper .card-body > p {
    line-height: 28px;
}
