#landing-page-wrapper .card img {
  height: 210px;
}

#landing-page-wrapper .card-body > h6 {
  margin-top: 1rem;
  font-size: 20px;
  letter-spacing: 0.5px;
}

#landing-page-wrapper .card-body > p {
  font-size: 16px;
  line-height: 28px;
}

#landing-page-wrapper .bg-custom-gray {
  background-color: #cdcdcd;
}

#landing-page-wrapper .feature-p {
  font-size: 18px;
  font-weight: 400;
}

/* -- Media Queries -- */
@media (max-width: 768px) {
  #landing-page-wrapper .feature-p,
  #landing-page-wrapper .feature-h1 {
    text-align: center !important;
  }

  #landing-page-wrapper .feature-h1 {
    margin-top: 1rem;
  }
}
